[connection]
id=Hotspot
uuid=717ad18a-47d7-441a-8e90-0aab91b30e42
type=wifi
permissions=

[wifi]
hidden=true
mac-address={{ hostvars[inventory_hostname]['ansible_wlan0']['macaddress']|upper }}
mac-address-blacklist=
mode=ap
ssid=mymesh

[wifi-security]
group=ccmp;
key-mgmt=wpa-psk
pairwise=ccmp;
proto=rsn;
psk=meshmesh

[ipv4]
dns-search=
method=manual
dns=8.8.8.8;8.8.4.4;
address1=10.10.10.1/24,10.10.10.1

[ipv6]
addr-gen-mode=stable-privacy
dns-search=
method=ignore
